<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/forgot_password.css">
</head>
<body>
    <div class="container">
        <% if (message) { %>
            <div class="message-box"><%= message %></div>
        <% } %>
        <h2>Recuperar Senha</h2>
        <form action="/forgot-password" method="POST">
            <input type="email" name="email" placeholder="E-mail de cadastro" required>
            <button type="submit">Enviar Código</button>
        </form>
        <p><a href="/">Voltar para o Login</a></p>
    </div>
</body>
</html>