<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <% if (message) { %>
      <div class="message-box"><%= message %></div>
      <% } %>
      <h2>Entrar</h2>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="E-mail" required />
        <input type="password" name="password" placeholder="Senha" required />
        <label>
          <input type="checkbox" name="rememberMe" id="rememberMe" /> Manter-me
          conectado
        </label>
        <button type="submit">Entrar</button>
      </form>
      <p><a href="/forgot-password">Esqueci minha senha</a></p>
      <p>Não tem uma conta? <a href="/register">Cadastre-se</a></p>
    </div>
  </body>
</html>
