<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/reset_password.css">
</head>
<body>
    <div class="container">
        <% if (message) { %>
            <div class="message-box"><%= message %></div>
        <% } %>
        <h2>Redefinir Senha</h2>
        <form action="/reset-password" method="POST">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="text" name="code" placeholder="Código do E-mail" required>
            <input type="password" name="newPassword" placeholder="Nova Senha" required>
            <button type="submit">Redefinir</button>
        </form>
    </div>
</body>
</html>